.btn {
  display: flex;
  flex-flow: row nowrap;
  background: none;
  box-sizing: content-box;
  border: none;
  padding: 7px;
  border-radius: 30px;
  color: var(--color-navy);

  cursor: pointer;
  position: relative;

  &:hover {
    color: var(--color-accent-blue);
    background: rgba(0, 0, 0, 0.1);
  }

  &--add-category {
    padding: 8px 0;

    &:hover {
      background-color: unset;
    }
  }

  &--icon {
    display: grid;
    place-items: center;
  }

  &--add-todo {
    @extend .btn;
    color: #fff;
    background: var(--color-accent-salmon);
    height: 2rem;
    width: 2rem;
    margin: 1rem auto;

    & svg {
      height: 2rem;
      width: 2rem;
    }

    &:hover {
      background: #ff7552b3;
      color: #fff;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__label {
      font-size: 0.8rem;
    }
  }

  &--inline {
    cursor: pointer;

    background: none;
    border: none;
    color: #62a4fe;
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    margin-bottom: 0.5rem;

    & svg {
      color: var(--color-dark-grey);
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
  }
}

.btn-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  padding: 8px 12px;

  &:not(:last-child) {
    margin-right: 0.5rem;
  }

  &.cancel {
    background-color: rgb(221, 46, 46);
    color: #fff;
  }

  &.confirm {
    background-color: rgb(28, 184, 0);
    color: #fff;
  }
}
