.modal {
  &--overlay {
    background-color: rgb(0, 0, 0, 0.5);
    inset: 0;
    position: fixed;
    overflow: hidden;
    z-index: 10;
  }

  &--container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    background-color: var(--theme-color-background-primary);
    padding: 30px;
    border-radius: 5px;
    z-index: 10;
  }

  &--content {
    text-align: center;
    color: var(--theme-color-font-primary);

    & .header {
      margin: 0;
    }

    & .text {
      margin: 1rem 0;
    }
  }
}
