.todo-list {
  &--pane {
    grid-area: 2 / 2 / span 1 / span 1;
    background: var(--theme-color-background);
    border-bottom: 1px solid var(--theme-color-border);
    border-right: 1px solid var(--theme-color-border);
  }

  &--header {
    padding: 1rem 1.5rem;
    border-bottom: 5px solid var(--color-accent-blue);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

    & h3 {
      margin: 0;
    }

    & span {
      display: flex;
      flex-flow: row nowrap;
    }
  }

  &--item {
    border-bottom: 1px solid var(--theme-color-border);
    padding: 1.5rem 1.5rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    transition: background 0.1s ease-out, transform 0.2s ease-out, box-shadow 0.2s ease-out;
    cursor: pointer;

    & svg {
      cursor: pointer;
      width: auto;
      width: 20px;
      height: 20px;
    }

    &:hover {
      background: var(--color-menu-hover);
    }
    &.is-selected {
      background: var(--color-menu-selected);
      transform: scale(1.01);
      box-shadow: 0 1px 6px rgb(0, 0, 0, 0.3);
    }
  }
  &--item-content {
    width: 100%;
    margin-left: 1rem;

    & h4 {
      display: block;
      padding: 0;
      margin: 0;
      margin-bottom: 8px;
      font-weight: 500;
    }
  }
  &--item-details {
    display: flex;
    flex-direction: row;
    width: 100%;

    & h4 {
      display: block;
      padding: 0;
      margin: 0;
      margin-bottom: 8px;
      font-weight: 500;
    }
  }

  &--empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-size: 0.75rem;
    color: #b0b0b0;
    font-style: italic;
    padding-top: 3rem;
    max-height: 100vh;
    height: 100%;
    text-align: center;
  }
}
