:root {
  /* text */
  --font-family: "Ubuntu";
  --color-navy: #505f79;
  --color-navy-light: #68778c;

  /* icons */
  --color-grey-dark: #767676;
  --color-grey-light: #b7b8b8;

  /* color accents */
  --color-accent-blue: #2584ff;
  --color-accent-yellow: #ffc401;
  --color-accent-salmon: #ff7552;

  --color-category-default: var(--color-grey-dark);

  /* popup / modal */
  --box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
  --border-radius: 22px;

  // theme colors
  --color-border-light: #dfe1e5;
  --color-bg-light: rgb(250, 251, 252);
  --color-bg-dark: rgb(45, 45, 46);
  --color-menu-hover-light: #deebff;
  --color-menu-selected-light: #fff;

  --color-font-light: rgb(236, 236, 243);
  --color-font-dark: rgb(45, 45, 46);
  --color-border-dark: #38393b;
  --color-menu-hover-dark: #373a3f;
  --color-menu-selected-dark: rgb(55, 55, 63);
}
